services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: tradein_db
      MYSQL_USER: tradein
      MYSQL_PASSWORD: Rohit@123
      MYSQL_ROOT_PASSWORD: Rohit@123
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  backend:
    build:
      context: ./Backend
    command: sh -c "python manage.py migrate && gunicorn Backend.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - ./Backend:/app
    ports:
      - "8000:8000"
    env_file:
      - ./Backend/.env
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./Frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  db_data:
