@import './core/variables';
@import './component/login';
@import './core/core';
@import './component/navbar';
@import './component/home';
@import './component/postCard';
@import './component/landingPage';
@import './component/skeleton';
@import './component/buy';
@import './component/postFull';
@import './component/questionModal';
@import './component/addPost';
@import './component/account';
@import './component/emptyData';
@import './component/bottomBar';
@import './component/exchange';
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;700&family=Open+Sans:wght@400;600&family=Oswald:wght@500&family=Roboto:wght@300;400;500;600;900&display=swap');