html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0 !important;
  overflow-y:scroll;
  box-sizing: border-box;
  overscroll-behavior-y: none;
  background-color: white !important;

* {
    font-family: 'Roboto', sans-serif;
  }
}


hr{
  color: $border-color !important;
}

.errormessage{
  color: red !important;
}
.MuiLinearProgress-bar{
  background-color: $theme-a !important;
}
.MuiSnackbarContent-root{
  padding: 12px 16px !important;
  font-family:Roboto, sans-serif;
  letter-spacing: 0.03em;

}
.seprator_dot {
  color: #bebebe !important;
  font-size: .4rem !important;
  margin: 0 4px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 4px 0 8px;
}

p {
  margin: 0;
  font-size: .682rem;
}

a {
  text-decoration: none;
  font-size: .75rem;
}

.flex {
  display: flex;

  &.flex-space-btw {
    justify-content: space-between;
  }
}

.text-center {
  text-align: center;
}


a,
button {
  &:focus {
    outline: none;
  }
}

// .MuiDialogContent-root{
//   scrollbar-width:thin;

// ::-webkit-scrollbar-track
// {
//   // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
//   border-radius: 8px;
// }

// ::-webkit-scrollbar
// {
//   width: 8px;
//   margin-right: 2px;
// }

// ::-webkit-scrollbar-thumb
// {
//   border-radius: 8px;
//   background-color: #bbb;
// }

// ::-webkit-scrollbar-thumb:hover
// {
//   background-color: #777;
// }
// }
.mchild{
  width: 46rem !important;
  height: 40rem;
}

#content{
  height: 100%;
}
.accent-dropdown {
  padding: 0;
  font-size: 14px;
  color: $theme-a;
  border: 1px solid $border-color;
  background: white;
  border-radius: 4px;
  margin-left: 8px;

  &:focus {
    outline: none;
  }
}

.accent-btn {
  font-size: 12px !important;
}

// fourOfour
.four{
  display: flex;
  width: max-content;
  margin: 0 auto;
  margin-top: 4rem;
  flex-direction: column;
  // &__top{
  //   position: absolute;
  //   top: 2rem;
  //   left: 2rem;
  //   display: flex;
  //   align-items: center;
  //   font-family: Roboto;
  //   font-size: 2rem;
  //   font-weight: 500;
  //   letter-spacing: 0.03em;
  //   color: #333;
  //   &__img{
  //     width:2.8rem;
  //     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  //     margin-right: 16px;
  //   }
  // }
  &__img{
    margin: 0 auto;
    width: 30rem;
  }
  &__btn{
    padding: 12px 16px !important;
    color: white;
    background-color: $theme-a;
    font-family: Oswald, sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    font-size: 1.125rem;
    text-align: center;
    width: 72%;
    margin-top: 30px;
    &:hover{
      filter: brightness(0.8);
    }
  }

}


// loader
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top-color: $theme-a;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top-color: $theme-a;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top-color: $theme-a;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}



@media(max-width:991px) {
  .MuiPaper-rounded {
    border-radius: 0 !important;
  }
}

.config_css {
  // min-width: 1024px;
  height: 100%;
}

@media(max-width:991px) {
  .config_css {
    min-width: 320px;
  }
  .four{
    // width: 100%;
    // margin-top: 6rem;
    &__img{
      margin: 0 auto;
      width: 24rem;
    }
  }
}

@media(max-width:500px) {
  .four{
    // width: 100%;
    // margin-top: 6rem;
    padding: 8px 16px !important;
    width: 74% !important;
    &__img{
      margin: 0 auto;
      width: 100%;
    }
    &__btn{
      font-size: 0.875rem !important;
      padding: 9px 16px !important;
    }
  }
}

.mar_auto_lft {
  margin-left: auto;
}

.mar_auto_rgt {
  margin-right: auto;
}