* {
  // padding: 0;
  margin: 0;
  box-sizing: border-box;
}

svg .MuiSvgIcon-root {
  font-size: 1rem;
}
// .MuiRadio-root {
//   color: rgba(0, 0, 0, 0.54) !important;
// }
.MuiRadio-colorSecondary {
  padding: 7px !important;
}
.Mui-checked {
  color: $theme-a !important;
}
.sidebar {
  // background: #f5f5f5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &__cont {
    margin-top: 8px;
    &__section {
      padding: 22px 8px;
      border-top: 1px solid #d2d2d2;
      border-bottom: 1px solid #d2d2d2;
      &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-family: Roboto, sans-serif;
        font-size: 1.125rem;
        color: #333;
        letter-spacing: 0.03em;
        font-weight: 400;
        cursor: pointer;
        background: white;
        &__list {
          padding-top: 12px;
          padding-left: 12px;
          display: none;
          &__label1 {
            margin: 0 !important;
            padding-bottom: 8px;
            // .MuiCheckbox-colorSecondary.Mui-checked {
            //   color: $theme-a
            // }
            .MuiCheckbox-colorSecondary {
              padding: 0 !important;
              padding-right: 4px !important;
            }

            &__custom {
              display: flex;
              justify-content: space-between;
              .MuiOutlinedInput-input {
                padding: 16.5px 10px !important;
                height: 11px !important;
              }
              .MuiFormControl-root {
                margin-right: 7px !important;
              }
              &__tf {
                width: 80px;
              }
              &__icon {
                margin-right: 5px;
              }
              &__btn {
                color: $theme-a;
                cursor: pointer;
                padding-left: 3px;
                padding-top: 6px;
                font-size: 0.9rem;
              }
            }
          }
          &__label {
            margin: 0 !important;
            // padding-bottom: 8px;
            // .MuiCheckbox-colorSecondary.Mui-checked {
            //   color: $theme-a
            // }
            .MuiCheckbox-colorSecondary {
              padding: 0 !important;
              padding-right: 4px !important;
            }

            &__custom {
              display: flex;
              justify-content: space-between;
              .MuiOutlinedInput-input {
                padding: 16.5px 10px !important;
                height: 11px !important;
              }
              .MuiFormControl-root {
                margin-right: 7px !important;
              }
              &__tf {
                width: 80px;
              }
              &__icon {
                margin-right: 5px;
              }
              &__btn {
                color: $theme-a;
                cursor: pointer;
                padding-left: 3px;
                padding-top: 6px;
                font-size: 0.9rem;
              }
            }
          }
        }
        &__icon {
          svg {
            font-size: 1.1rem !important;
            margin-right: 5px;
          }
          display: flex;
          align-items: center;
        }
      }
      &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 22px 8px;
        // border-top: 1px solid #d2d2d2;
        border-bottom: 1px solid #d2d2d2;
        font-family: Roboto, sans-serif;
        font-size: 1.125rem;
        color: #333;
        letter-spacing: 0.03em;
        font-weight: 400;
        cursor: pointer;
        background: white;
        &__list {
          padding-top: 8px;
          padding-left: 16px;
          &__label {
            margin: 0 !important;
            padding-bottom: 6px;
            .MuiCheckbox-colorSecondary.Mui-checked {
              color: $theme-a !important;
            }
            .PrivateSwitchBase-root-5 {
              padding: 4px !important;
            }
          }
        }
      }
    }
  }
  &__head {
    font-family: Roboto, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.03em;
    padding: 16px 8px;
    color: $black;
    margin-top: 5.3rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $theme-a;
  padding: 5px !important;
  padding-right: 24px !important;
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  &__profile {
    height: 35px;
    max-width: 35px;
    border: 4px solid white;
    // margin-top: 4px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__expand {
    color: white;
    font-size: 1.4rem !important;
    margin-bottom: 1px;
    cursor: pointer;
  }
  &__logo {
    display: flex;
    align-items: center;
    padding: 0 0 0 24px !important;

    overflow: hidden;
    a {
      display: flex;
      align-items: center;
    }

    img {
      width: 2.5rem;
      height: 2.5rem;
      padding: 2px !important;
    }
    h1 {
      color: white;
      font-family: "Roboto", sans-serif;
      text-align: center;
      padding-left: 10px !important;
      font-size: 1.6rem;
      font-weight: 700;
      margin: 0 !important;
      letter-spacing: 0.03em;
    }
  }

  ul {
    display: flex;
    align-items: center;
  }
  &__login {
    list-style: none;
    a {
      font-size: 14px;
      font-family: Libre Franklin;
      font-weight: 500;
      color: $black;
      background: white;
      margin-left: 16px;
      padding: 8px 18px;
      border-radius: 2px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      &:hover {
        color: white !important;
        border: 1px solid white;
        background-color: transparent !important;
      }
    }
  }
  &__tab {
    list-style: none;

    a {
      /* right: -83px; */
      /* left: 8.5rem; */
      color: white;
      display: flex;
      align-items: center;
      /* display: flex; */
      /* align-items: center; */
      text-decoration: none;
      margin: 0 16px !important;
      font-family: Libre Franklin;
      font-weight: 500;
      letter-spacing: 0.03em;
      font-size: 16px;

      &:hover {
        border-bottom: 2.5px solid white;
      }
    }
  }
  &__tab1 {
    list-style: none;
    a {
      /* right: -83px; */
      /* left: 8.5rem; */
      color: white;
      display: flex;
      align-items: center;
      /* display: flex; */
      /* align-items: center; */
      text-decoration: none;
      margin: 0 16px !important;
      font-family: Libre Franklin;
      font-weight: 500;
      letter-spacing: 0.03em;
      font-size: 16px;
    }
    &:hover {
      .nav__expand {
        transform: rotateZ(180deg);
        transition: ease-in 0.18s;
      }
    }
  }
  &__dropdown {
    position: absolute;
    display: none;
    top: 44px;
    // margin-left: 4px;
    padding: 18px;
    padding-top: 16px;
    padding-bottom: 8px;
    border-radius: 4px;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 2;
    &:hover {
      display: block !important;
    }
    &__up {
      position: absolute;
      top: -26px;
      font-size: 2.5rem !important;
      color: white;
      width: 100% !important;
      height: 1.2em !important;
      left: 0;
      cursor: pointer;
    }
    &__list {
      list-style: none;
      display: flex;
      align-items: center;
      a {
        text-decoration: none !important;
        color: $dark-grey !important;
        font-size: 1.05rem;
        font-weight: 400;
        display: flex;
        font-family: Roboto, sans-serif;
        align-items: center;
        margin: 0 !important;
        letter-spacing: 0.04em;
        padding-bottom: 14px !important;
        width: 100%;
        svg {
          color: $theme-a;
          margin-right: 8px;
          font-size: 1.4rem;
        }
        &:hover {
          color: $theme-a !important;
          font-weight: 500 !important;
        }
      }
    }
  }
  &__dropdownprofile {
    position: absolute;
    display: none;
    top: 52px;
    right: 20px;
    // margin-left: 4px;
    // padding: 18px;
    // padding-top: 16px;
    // padding-bottom: 8px;
    border-radius: 4px;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 2;
    &:hover {
      display: block !important;
    }
    &__head {
      background-color: $background;
      padding: 16px 14px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      width: 14rem;
      margin-bottom: 12px;
      img {
        margin-right: 12px;
        max-width: 45px;
        height: 45px;
        border: 2.5px solid $theme-a;
        background-clip: border-box;
        padding: 3.2px;
      }
      h5 {
        font-family: Roboto, sans-serif;
        font-weight: 500;
        color: $black;
        letter-spacing: 0.03em;
        font-size: 1rem;
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 10ch;
        white-space: nowrap;
      }
      h6 {
        font-family: Roboto, sans-serif;
        font-weight: 500;
        color: $dark-grey;
        letter-spacing: 0.03em;
        font-size: 0.8125rem;
        margin: 0;
        padding-top: 4px;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 10ch;
        white-space: nowrap;
      }
    }
    &__up {
      position: absolute;
      top: -26px;
      font-size: 2.5rem !important;
      color: $background;
      padding-left: 82%;
      width: 100% !important;
      height: 1.2em !important;
      left: 0;
      cursor: pointer;
    }
    &__list {
      list-style: none;
      display: flex;
      align-items: center;
      border-radius: 4px;
      margin: 4px;
      border-bottom: 1.5px solid $border-color;
      a {
        text-decoration: none !important;
        color: $dark-grey !important;
        font-size: 1rem;
        font-weight: 400;
        width: 100%;
        margin: 0 !important;
        display: flex;
        font-family: Roboto, sans-serif;
        align-items: center;
        letter-spacing: 0.04em;
        margin-bottom: 4px !important;
        padding: 10px !important;
        // padding-left: 14px;
        svg {
          color: $dark-grey;
          margin-right: 8px;
          font-size: 1.6rem;
        }
        &:hover {
          background-color: $background;
          color: $theme-a !important;
          font-weight: 500 !important;
          svg {
            color: $theme-a !important;
          }
        }
      }
    }
  }
}

.MuiDrawer-paperAnchorLeft{
  left: 0 !important;;
  right: 0 !important;
}

@media (max-width: 991px) {
  .sidebar{
    .head{
      display: flex;
      justify-content: space-between;
      align-items: center;
      button{
        background: $theme-a;
        color: white;
        margin-right: 10px;
      }
    }
  }
  .nav {
    padding-right: 16px !important;
    &__logo {
      padding: 0 0 0 12px !important;
      img {
        width: 2.1rem;
        height: 2.1rem;
      }
      h1 {
        font-size: 1.4rem;
      }
    }
    &__profile {
      height: 37px;
      max-width: 37px;
    }
  }
}
